{% extends "base.html.twig" %}

{% block title %}
    Article n°{{ id }}
{% endblock %}

{% block body %}
    {%  include 'menu/_menu.html.twig' %}
    Article n°{{ id }}
    <p>lorem ipsum</p>
{% endblock %}