{% extends "base.html.twig" %}

{% block title %}
    Article n°{{ article.titre }}
{% endblock %}

{% block body %}

    {%  include 'menu/_menu.html.twig' %}

    <h5>Article n°{{ article.id }}</h5>
    <small>posté le: {{ article.createdDate|date('d/m/Y') }}</small>
    <p>{{ article.content }}</p>

{% endblock %}